@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717; /* 🟢 Light mode text: siyah */
}

[data-theme="dark"] {
  --background: #1b0a3f;
  --foreground: #ededed; /* ⚫ Dark mode text: beyaz */
}

[data-theme="light"] {
  --background: white;
  --foreground: #171717;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground); /* 🟢 Bu satır yazı rengini temaya göre belirler */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-montserrat);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7561FF; /* mor-mavi geçişli */
  border-radius: 10px;
}
[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7F5FFF, #01C8FF);
}

::-webkit-scrollbar-track {
  background: transparent;
}